@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

body {
    font-family: 'Moon Dance';
}
.container-fluid {
    margin: auto;
    border: 1px solid #b0aac0;
    border-radius: 10px;
    background-color: #f0efef;
}

.no-padding {
    padding: 0px 0px 0px 0px;
}

.box-margin {
    margin: 10px 5px 10px 5px;
}

.text-padding {
    padding-left: 10px;
}

#header {
    color: rgb(125, 90, 90);
    background-color: #b0aac0;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: 500px;
}

#footer ul li {
    list-style-type: none;
}

#footer {
    background-color: #b0aac0;
    width: 100%;
    height: 90px;
}

#footer a {
    text-decoration: none;
    background-color: #b0aac0;
    color: rgb(125, 90, 90);
    font-size: 20px;
    width: 100%;
    
}

#footer a:hover {
    background-color: #b0aac0;
    text-decoration: none;
    color: rgb(123, 93, 98);
    border-radius: 5px;

}

#navbar {
    text-decoration: none;
    font-size: 15px;
}

#navbar ul li {
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    background-color: #ddeedd;
    color: rgb(162, 106, 106);
    font-size: 30px;
    width: 20%
}

#navbar a:hover {
    /* background-color: rgb(209, 237, 231);
    color: rgb(204, 228, 222); */
    text-decoration: none;
}
.round-border {
    border-radius: 10px;
}

.background-image {
    background-image: url('../img/high-rise.png');
    height: 700px;
    border-radius: 10px;
    width: auto; 
    
}

.col-sm-4 {
    background-color: #ddeedd;
}

.col-sm-8 {
    background-color: #c2d4dd;
}

.col-sm-6 {
    background-color: #c2d4dd;
}

.col-sm-9 {
    background-color: #c2d4dd;

}

.col-sm-9 li a {
    color: rgb(162, 106, 106);
}

.col-sm-3 {
    background-color: #ddeedd;
}

p {
    font-size: 20px;
}

ul {
    
    list-style-type: none
}

a {
    text-decoration: none;
    color: rgb(106, 120, 162);
    font-size: 30px;
    width: 20%
}

a:hover {
    text-decoration: none;
    color: rgb(123, 93, 98);
    border-radius: 5px;
}
